<% provide(:title, "Sign in") %>
<h1>Вход</h1>

<div class="row">
	<div class="span6 offset3">
		<%= simple_form_for(:session, url: sessions_path) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Войти", class: "btn btn-large btn-primary" %>
		<% end %>

		<p>Новый пользователь? <%= link_to "Зарегистрироваться!", signup_path %></p>
	</div>
</div>