<h1>Редактирование комментария</h1>
<%= form_for @comment do |f| %>
	<% if @comment.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@comment.errors.count, "error") %> при сохранении комментария:
			</h2>
			<ul>
				<% @comment.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :text %><br>
		<%= f.text_area :text, rows: 10 %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>