<li>
	<span class="content">
		<%= truncate(article.text, :length => 300) %> <%= link_to "Подробнее", article_path(article) %>
	</span>
	<span class="timestamp">
		<% if article.created_at == article.updated_at %>
			Статья добавлена <%= time_ago_in_words(article.created_at) %> назад.
		<% else %>
			Статья обновлена <%= time_ago_in_words(article.updated_at) %> назад.
		<% end %>
	</span>
	<% if current_user?(article.user) %>
		<%= link_to "Редактировать", edit_article_path(article) %>
		<p class="li_right"><%= link_to "Удалить", article, method: :delete,
			data: { confirm: "Вы уверены?" },
			title: article.text %>
		</p>
	<% end %>
</li>