<p>
	<h3> <%= @article.title %>
		<i class="article_info">( Автор: <%= @article.user.fio %>, 
			<% if @article.created_at == @article.updated_at %> 
				добавлено: <%= @article.created_at %> 
			<% else %> 
				обновлено: <%= @article.updated_at %>
			<% end %>
		)</i>
	</h3>
</p>

<p>
	<%= @article.text.html_safe %>
</p>

<% if @article.user_id == current_user.id %>
	<%= link_to 'Редактировать', edit_article_path(@article) %>
<% end %>
<%= link_to 'Назад', articles_path %>

<h2>Комментарии</h2>
<%= render @article.comments %>


<% if signed_in? %>
	<h2>Добавить комментарий:</h2>
	<%= render 'comments/form' %>
<% else %>
	<h2>Для добавления комментария необходимо <%= link_to "войти/зарегистрироваться", signin_path %></h2>
<% end %>


