<%= render @article %>
<ol class="comments">
	<li><%= link_to 'Назад', articles_path %></li>
</ol>

<h2>Комментарии</h2>
<%= render @article.comments %>

<% if signed_in? %>
	<h2>Добавить комментарий:</h2>
	<%= render 'comments/form' %>
<% else %>
	<h2>Для добавления комментария необходимо <%= link_to "войти/зарегистрироваться", signin_path %></h2>
<% end %>


