<% provide(:title, "Редактирование пользователя") %>
<h1>Обновите свой профиль</h1>
<section><%= gravatar_for @user %>
	<a href="http://gravatar.com/emails">Изменить изображение</a>
</section>
<div class="row">

	<div class="span6 offset3">
	

		<%= simple_form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :fio %>
			<%= f.text_field :fio %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.label :password_confirmation, "Подтверждение пароля" %>
			<%= f.password_field :password_confirmation %>

			<%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>